.advantages {
  text-align: center;
}

.advantages__title {

}

.advantages__item {

  width:320px;
  margin: 0 auto;

  &--with-pic {
    font-weight: 700;
    color: #ffffff;
    background-color: #81b3d2;

  }

  &--with-background {
    background-color: #eeeeee;
  }
}
