.logo-big {
  min-height: 389px;
  padding-top: 90px;

  text-align: center;

  background-image: url("../../img/back-desktop.jpg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
